:root {
    --primary-1: rgba(230, 247, 255, 1);
    --primary-2: rgba(186, 231, 255, 1);
    --primary-3: rgba(145, 213, 255, 1);
    --primary-4: rgba(105, 192, 255, 1);
    --primary-5: rgba(64, 169, 255, 1);
    --primary-6: rgba(51, 102, 255, 1);
    --primary-7: rgba(9, 109, 217, 1);
    --primary-8: rgba(0, 80, 179, 1);
    --primary-9: rgba(0, 58, 140, 1);
    --primary-10: rgba(0, 39, 102, 1);
    --neutral-1: rgba(255, 255, 255, 1);
    --neutral-2: rgba(247, 249, 253, 1);
    --neutral-3: rgba(245, 249, 253, 1);
    --neutral-4: rgba(237, 241, 246, 1);
    --neutral-5: rgba(228, 233, 242, 1);
    --neutral-6: rgba(207, 217, 232, 1);
    --neutral-7: rgba(140, 140, 140, 1);
    --neutral-8: rgba(89, 89, 89, 1);
    --neutral-9: rgba(67, 67, 67, 1);
    --neutral-10: rgba(38, 38, 38, 1);
    --neutral-11: rgba(31, 31, 31, 1);
    --neutral-12: rgba(20, 20, 20, 1);
    --neutral-13: rgba(0, 0, 0, 1);
    --daybreak-blue1: rgba(230, 247, 255, 1);
    --daybreak-blue2: rgba(186, 231, 255, 1);
    --daybreak-blue3: rgba(145, 213, 255, 1);
    --daybreak-blue4: rgba(105, 192, 255, 1);
    --daybreak-blue5: rgba(64, 169, 255, 1);
    --daybreak-blue6: rgba(24, 144, 255, 1);
    --daybreak-blue7: rgba(9, 109, 217, 1);
    --daybreak-blue8: rgba(0, 80, 179, 1);
    --daybreak-blue9: rgba(0, 58, 140, 1);
    --daybreak-blue10: rgba(0, 39, 102, 1);
    --dust-red-1: rgba(255, 241, 240, 1);
    --dust-red-2: rgba(255, 204, 199, 1);
    --dust-red-3: rgba(255, 163, 158, 1);
    --dust-red-4: rgba(255, 120, 117, 1);
    --dust-red-5: rgba(255, 77, 79, 1);
    --dust-red-6: rgba(245, 34, 45, 1);
    --dust-red-7: rgba(207, 19, 34, 1);
    --dust-red-8: rgba(168, 7, 26, 1);
    --dust-red-9: rgba(130, 0, 20, 1);
    --dust-red-10: rgba(92, 0, 17, 1);
    --volcano-1: rgba(255, 242, 232, 1);
    --volcano-2: rgba(255, 216, 191, 1);
    --volcano-3: rgba(255, 187, 150, 1);
    --volcano-4: rgba(255, 156, 110, 1);
    --volcano-5: rgba(255, 122, 69, 1);
    --volcano-6: rgba(250, 84, 28, 1);
    --volcano-7: rgba(212, 56, 13, 1);
    --volcano-8: rgba(173, 33, 2, 1);
    --volcano-9: rgba(135, 20, 0, 1);
    --volcano-10: rgba(97, 11, 0, 1);
    --sunset-orange-1: rgba(255, 247, 230, 1);
    --sunset-orange-2: rgba(255, 231, 186, 1);
    --sunset-orange-3: rgba(255, 213, 145, 1);
    --sunset-orange-4: rgba(255, 192, 105, 1);
    --sunset-orange-5: rgba(255, 169, 64, 1);
    --sunset-orange-6: rgba(250, 140, 22, 1);
    --sunset-orange-7: rgba(212, 107, 8, 1);
    --sunset-orange-8: rgba(173, 78, 0, 1);
    --sunset-orange-9: rgba(135, 56, 0, 1);
    --sunset-orange-10: rgba(97, 37, 0, 1);
    --calendula-gold-1: rgba(255, 251, 230, 1);
    --calendula-gold-2: rgba(255, 241, 184, 1);
    --calendula-gold-3: rgba(255, 229, 143, 1);
    --calendula-gold-4: rgba(255, 214, 102, 1);
    --calendula-gold-5: rgba(255, 197, 61, 1);
    --calendula-gold-6: rgba(250, 173, 20, 1);
    --calendula-gold-7: rgba(212, 136, 6, 1);
    --calendula-gold-8: rgba(173, 104, 0, 1);
    --calendula-gold-9: rgba(135, 77, 0, 1);
    --calendula-gold-10: rgba(97, 52, 0, 1);
    --sunrise-yellow-1: rgba(254, 255, 230, 1);
    --sunrise-yellow-2: rgba(255, 255, 184, 1);
    --sunrise-yellow-3: rgba(255, 251, 143, 1);
    --sunrise-yellow-4: rgba(255, 245, 102, 1);
    --sunrise-yellow-5: rgba(255, 236, 61, 1);
    --sunrise-yellow-6: rgba(250, 219, 20, 1);
    --sunrise-yellow-7: rgba(212, 177, 6, 1);
    --sunrise-yellow-8: rgba(173, 139, 0, 1);
    --sunrise-yellow-9: rgba(135, 104, 0, 1);
    --sunrise-yellow-10: rgba(97, 71, 0, 1);
    --lime-1: rgba(252, 255, 230, 1);
    --lime-2: rgba(244, 255, 184, 1);
    --lime-3: rgba(234, 255, 143, 1);
    --lime-4: rgba(211, 242, 97, 1);
    --lime-5: rgba(186, 230, 55, 1);
    --lime-6: rgba(160, 217, 17, 1);
    --lime-7: rgba(124, 179, 5, 1);
    --lime-8: rgba(91, 140, 0, 1);
    --lime-9: rgba(63, 102, 0, 1);
    --lime-10: rgba(37, 64, 0, 1);
    --polar-green-1: rgba(246, 255, 237, 1);
    --polar-green-2: rgba(217, 247, 190, 1);
    --polar-green-3: rgba(183, 235, 143, 1);
    --polar-green-4: rgba(149, 222, 100, 1);
    --polar-green-5: rgba(115, 209, 61, 1);
    --polar-green-6: rgba(82, 196, 26, 1);
    --polar-green-7: rgba(56, 158, 13, 1);
    --polar-green-8: rgba(35, 120, 4, 1);
    --polar-green-9: rgba(19, 82, 0, 1);
    --polar-green-10: rgba(9, 43, 0, 1);
    --cyan-1: rgba(230, 255, 251, 1);
    --cyan-2: rgba(181, 245, 236, 1);
    --cyan-3: rgba(135, 232, 222, 1);
    --cyan-4: rgba(92, 219, 211, 1);
    --cyan-5: rgba(54, 207, 201, 1);
    --cyan-6: rgba(19, 194, 194, 1);
    --cyan-7: rgba(8, 151, 156, 1);
    --cyan-8: rgba(0, 109, 117, 1);
    --cyan-9: rgba(0, 71, 79, 1);
    --cyan-10: rgba(0, 35, 41, 1);
    --geek-blue-1: rgba(240, 245, 255, 1);
    --geek-blue-2: rgba(214, 228, 255, 1);
    --geek-blue-3: rgba(173, 198, 255, 1);
    --geek-blue-4: rgba(133, 165, 255, 1);
    --geek-blue-5: rgba(89, 126, 247, 1);
    --geek-blue6: rgba(47, 84, 235, 1);
    --geek-blue-7: rgba(29, 57, 196, 1);
    --geek-blue-8: rgba(16, 35, 158, 1);
    --geek-blue-9: rgba(6, 17, 120, 1);
    --geek-blue-10: rgba(3, 8, 82, 1);
    --golden-purple-1: rgba(249, 240, 255, 1);
    --golden-purple-2: rgba(239, 219, 255, 1);
    --golden-purple-3: rgba(211, 173, 247, 1);
    --golden-purple-4: rgba(179, 127, 235, 1);
    --golden-purple-5: rgba(146, 84, 222, 1);
    --golden-purple-6: rgba(114, 46, 209, 1);
    --golden-purple-7: rgba(83, 29, 171, 1);
    --golden-purple-8: rgba(57, 16, 133, 1);
    --golden-purple-9: rgba(34, 7, 94, 1);
    --golden-purple-10: rgba(18, 3, 56, 1);
    --magenta-1: rgba(255, 240, 246, 1);
    --magenta-2: rgba(255, 214, 231, 1);
    --magenta-3: rgba(255, 173, 210, 1);
    --magenta-4: rgba(255, 133, 192, 1);
    --magenta-5: rgba(247, 89, 171, 1);
    --magenta-6: rgba(235, 47, 150, 1);
    --magenta-7: rgba(196, 29, 127, 1);
    --magenta-8: rgba(158, 16, 104, 1);
    --magenta-9: rgba(120, 6, 80, 1);
    --magenta-10: rgba(82, 3, 57, 1);
    --character-primaryinverse: rgba(255, 255, 255, 1);
    --charactertitle-85: rgba(0, 0, 0, 0.85);
    --characterprimary-85: rgba(0, 0, 0, 0.85);
    --charactersecondary-45: rgba(11, 24, 40, 0.45);
    --characterdisabledampplaceholder-25: rgba(143, 155, 179, 1);
    --character-mark: rgba(0, 0, 0, 1);
    --character-danger: rgba(255, 77, 79, 1);
    --character-warning: rgba(250, 173, 20, 1);
    --character-success: rgba(82, 196, 26, 1);
    --tooltip-75: rgba(0, 0, 0, 0.75);
    --conditional-pop-over: rgba(255, 255, 255, 1);
    --conditional-item-background-hover: rgba(245, 245, 245, 1);
    --conditionaldivider: rgba(0, 0, 0, 0.03);
    --conditional-page-background: rgba(240, 242, 245, 1);
    --conditional-table-column-sort: rgba(250, 250, 250, 1);
    --conditional-header-background: rgba(255, 255, 255, 1);
    --conditional-sider-background: rgba(255, 255, 255, 1);
    --conditionalmenu-item-background-selected: rgba(230, 247, 255, 1);
    --conditional-menu-item-text-selected: rgba(24, 144, 255, 1);
    --conditional85l-65d: rgba(0, 0, 0, 0.85);
    --conditionaltable-filter-triggerhover: rgba(0, 0, 0, 0.04);
    --placeholderimage: rgba(247, 247, 247, 1);
    --hitbox: rgba(255, 255, 255, 0.0);
    --custombackground: rgba(224, 234, 255, 1);
    --custombackground-dark: rgba(192, 212, 255, 1);
    --h1-medium-font-family: "Manrope", Helvetica;
    --h1-medium-font-weight: 700;
    --h1-medium-font-size: 38px;
    --h1-medium-letter-spacing: 0px;
    --h1-medium-line-height: 46px;
    --h1-medium-font-style: normal;
    --h2-medium-font-family: "Manrope", Helvetica;
    --h2-medium-font-weight: 600;
    --h2-medium-font-size: 30px;
    --h2-medium-letter-spacing: 0px;
    --h2-medium-line-height: 40px;
    --h2-medium-font-style: normal;
    --h3-medium-font-family: "Manrope", Helvetica;
    --h3-medium-font-weight: 700;
    --h3-medium-font-size: 24px;
    --h3-medium-letter-spacing: 0px;
    --h3-medium-line-height: 32px;
    --h3-medium-font-style: normal;
    --h3-regular-font-family: "Roboto", Helvetica;
    --h3-regular-font-weight: 400;
    --h3-regular-font-size: 24px;
    --h3-regular-letter-spacing: 0px;
    --h3-regular-line-height: 32px;
    --h3-regular-font-style: normal;
    --h4-medium-font-family: "Manrope", Helvetica;
    --h4-medium-font-weight: 700;
    --h4-medium-font-size: 20px;
    --h4-medium-letter-spacing: 0px;
    --h4-medium-line-height: 28px;
    --h4-medium-font-style: normal;
    --h5-regular-font-family: "Manrope", Helvetica;
    --h5-regular-font-weight: 400;
    --h5-regular-font-size: 16px;
    --h5-regular-letter-spacing: 0px;
    --h5-regular-line-height: 24px;
    --h5-regular-font-style: normal;
    --h5-medium-font-family: "Manrope", Helvetica;
    --h5-medium-font-weight: 500;
    --h5-medium-font-size: 16px;
    --h5-medium-letter-spacing: 0px;
    --h5-medium-line-height: 24px;
    --h5-medium-font-style: normal;
    --h5-bold-font-family: "Manrope", Helvetica;
    --h5-bold-font-weight: 700;
    --h5-bold-font-size: 16px;
    --h5-bold-letter-spacing: 0px;
    --h5-bold-line-height: 24px;
    --h5-bold-font-style: normal;
    --body-regular-font-family: "Manrope", Helvetica;
    --body-regular-font-weight: 400;
    --body-regular-font-size: 14px;
    --body-regular-letter-spacing: 0px;
    --body-regular-line-height: 22px;
    --body-regular-font-style: normal;
    --body-medium-font-family: "Manrope", Helvetica;
    --body-medium-font-weight: 500;
    --body-medium-font-size: 14px;
    --body-medium-letter-spacing: 0px;
    --body-medium-line-height: 22px;
    --body-medium-font-style: normal;
    --body-bold-font-family: "Manrope", Helvetica;
    --body-bold-font-weight: 700;
    --body-bold-font-size: 14px;
    --body-bold-letter-spacing: 0px;
    --body-bold-line-height: 22px;
    --body-bold-font-style: normal;
    --body-regular-underline-font-family: "Roboto", Helvetica;
    --body-regular-underline-font-weight: 400;
    --body-regular-underline-font-size: 14px;
    --body-regular-underline-letter-spacing: 0px;
    --body-regular-underline-line-height: 22px;
    --body-regular-underline-font-style: normal;
    --body-regular-strikethrough-font-family: "Roboto", Helvetica;
    --body-regular-strikethrough-font-weight: 400;
    --body-regular-strikethrough-font-size: 14px;
    --body-regular-strikethrough-letter-spacing: 0px;
    --body-regular-strikethrough-line-height: 22px;
    --body-regular-strikethrough-font-style: normal;
    --body-code-font-family: "Menlo", Helvetica;
    --body-code-font-weight: 400;
    --body-code-font-size: 14px;
    --body-code-letter-spacing: 0px;
    --body-code-line-height: 22px;
    --body-code-font-style: normal;
    --footnote-description-font-family: "Manrope", Helvetica;
    --footnote-description-font-weight: 500;
    --footnote-description-font-size: 12px;
    --footnote-description-letter-spacing: 0px;
    --footnote-description-line-height: 20px;
    --footnote-description-font-style: normal;
    --footnote-system-monospace-font-family: "SF Pro Display", Helvetica;
    --footnote-system-monospace-font-weight: 400;
    --footnote-system-monospace-font-size: 12px;
    --footnote-system-monospace-letter-spacing: 0px;
    --footnote-system-monospace-line-height: 20px;
    --footnote-system-monospace-font-style: normal;
    --789: 0px 22px 48px 0px rgba(1, 123, 255, 0.3);
    --custom-shadow: 0px 6px 16px 0px rgba(230, 235, 245, 1);
    --drop-shadow-0-15: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    --drop-shadow-active-2px-spread: 0px 0px 0px 2px rgba(24, 144, 255, 0.2);
    --drop-shadow-1px-spread: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    --drop-shadow-0-12-0-8-0-5:
      0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(
        0,
        0,
        0,
        0.12
      );
    --drop-shadow-button-primary: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
    --drop-shadow-button-secondary: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
    --drop-shadow-0-15-yoffset-6: 0px 6px 8px 0px rgba(0, 0, 0, 0.15);
    --border-divider-outer-border-1px: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    --ink-theme-1px: -1px 0px 0px 0px rgba(24, 144, 255, 1);
    --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    --e-health-dashboard-card-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px
      rgba(16, 24, 40, 0.08);
    --e-health-dashboard-1-secondary-light-grey: rgba(240, 240, 242, 1);
    --e-health-dashboard-1-secondary-secondary: rgba(0, 48, 73, 1);
    --e-health-dashboard-1-neutrals-neutrals600: rgba(114, 108, 108, 1);
    --e-health-dashboard-1-neutrals-base-white: rgba(250, 250, 250, 1);
    --e-health-dashboard-1-secondary-dark-grey: rgba(103, 109, 137, 1);
    --e-health-dashboard-1-primary-primary: rgba(97, 148, 250, 1);
  }
  